{% extends "base.html" %}

{% block content %}
  <div class="row panel-container">
    <div class="col-lg-12 panel panel-login">
      <div class="row film-element film-only-one">
        <div class="row">
          <div class="col-md-3 logo">
            <img src="{{session.film.logo_url}}"/>
          </div>
          <div class="col-md-9">
            <div class="raw">
              <div class="col-md-8 title">
                <h2>{{session.film.title}}</h2>
              </div>
              <div class="col-md-4">
                <div class ="raw">
                  <h2 class="error">
                    <span class="age-limit">Age limit:</span>
                    {{session.film.age_limit}}</h2>
                </div>
            </div>
            <div class="raw">
              <div class="col-md-12 genres">
                <h3>Genres:</h3>
                <ul>
                  {% for genre in session.film.genres %}
                  <li>{{genre.name}} </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="raw">
              <div class="col-md-6 seats">
                <h3>Seats:</h3>
                <ul>
                  {% for seat in session.seats %}
                    <dl>
                      <dt>Raw: </dt>
                      <dd>{{seat.seat_raw}}</dd>
                      <dt>Number: </dt>
                      <dd>{{seat.seat_number}}</dd>
                      <dt>Type: </dt>
                      <dd>{{seat.seat_type}}</dd>
                      <dt>Cost: </dt>
                      <dd>{{seat.seat_cost}}</dd>
                      <dt>Status: </dt>
                      <dd>{{seat.seat_status}}</dd>
                    </dl>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-md-6 seats">
                <h3>Users view this page: {{users-in-route}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
